<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40899982825-49kq8k5dqvjffanmjo0mg4s96e8o4bv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40899982825-49kq8k5dqvjffanmjo0mg4s96e8o4bv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40899982825-dijlecgftbmdcir66660qpt35t366fc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUC6vhWOKBF20I3H2e_BSAZDKSEGu1l5I</string>
	<key>GCM_SENDER_ID</key>
	<string>40899982825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MinaApp</string>
	<key>PROJECT_ID</key>
	<string>mina-app-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>mina-app-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40899982825:ios:2a6809c1477b205c6c0778</string>
</dict>
</plist>